<%= turbo_frame_tag task do %>
  <div class="task-box bg-gray-100 rounded-md p-4 mb-4">
    <div class="quote flex justify-between items-center">
      <p class="text-lg"><%= task.task %></p>
      <div class="task__actions flex items-center">
        <%= link_to edit_task_path(task), class: "text-blue-500 hover:text-blue-700 mr-4" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 5v13M5 12h13"/>
          </svg>
        <% end %>
        <%= button_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="3 6 5 6 21 6"/>
            <path d="M16 6l-4 4-4-4"/>
            <path d="M4 12v7a2 2 0 002 2h12a2 2 0 002-2v-7"/>
          </svg>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
